#eliminar{
    color: #5D997C; 
    cursor: pointer;
}

#eliminar:hover {
    text-decoration: underline;
}

#eliminarCuenta{
    background-color: #5D997C; 
    border-color: #5D997C; 
    color: white;
}