body {
  background-image: none;
  background-color: black;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width:  100%;
}  

main{
  background-color: #FFECCB;
}

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.titulo {
  color: #FFAFDA;
  text-align: center;
  font-size: 70px;
  z-index: 1;
  height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.transparent-button {
  background-color: transparent;
  color: white; /* Color del texto */
  border: 2px solid white; /* Borde blanco */
  border-radius: 5px; /* Redondea las esquinas */
  padding: 10px 20px; /* Espacio alrededor del texto */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente moderna */
  font-size: 16px; /* Tamaño del texto */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: all 0.3s ease; /* Transición suave */
  text-decoration: none;
}

.transparent-button:hover {
  background-color: white; /* Cambia el color de fondo al pasar el cursor */
  color: black; /* Cambia el color del texto al pasar el cursor */
  text-decoration: none;
}

.white-text{
  color: white;
}

/*RESERVAR YA*/

.reservarYa {
  background-color: #5D997C;
  color: #ffffff;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;
}

h5{
  text-align: justify;
}

.texto{
  width: 65%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
}

.btnReserva{
  width: 40%;
  height: 100%;
  text-align: center;
}

.reserva{
  background-color: #DEB887;
  border-radius: 10%;
  padding: 10px 20px; /* Espaciado interno del botón */
  border-color: #DEB887; /* Eliminar el borde del botón */
  border-radius: 5px; /* Hacer las esquinas redondeadas */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  font-size: 16px; /* Tamaño del texto */
  font-weight: bold;
}

.div-card{
  width: 80%;
  margin: 10%;
  margin-top: 5%;
}

.btn-card{
  background-color: #5D997C;
  border-radius: 10%;
  padding: 10px 20px; /* Espaciado interno del botón */
  border-color: #5D997C; /* Eliminar el borde del botón */
  border-radius: 5px; /* Hacer las esquinas redondeadas */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  font-size: 16px; /* Tamaño del texto */
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.contenedor {
  margin-top: 2%;
  text-align: center;
}

.color-fondo{
  background-color: #FFECCB;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.img500{
  width: 80%;
  border-radius: 1rem;
}

@media (max-width: 925px) {
  .img500{
    width: 100%;
    border-radius: 1rem;
  }
}

@media (max-width: 1200px) {
  .img500{
    width: 100%;
    border-radius: 1rem;
  }
}

.fondoVerde{
  background-color: #5D997C;
  color: #ffffff;
}